.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 2vw;
  background-color: #3bbff8;
  color: #fff;
  border-radius: 0 0 10px 10px;

  .logo-name{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .exit-btn{
    font-size: 20px;
    font-weight: 300;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;

  }
}